*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a{
    text-decoration: none;
    color:black;
}

.logo{
	width: 88px;
	height: 60px;
	margin-top:35px;
	margin-left:160PX;
}

header {
    background-color:#F5F5F5;
}

.nav_item{
    padding: 62px 0;
    border-bottom: solid 2px transparent;
    display:flex;
    align-items:center;
}

.nav_list{
    gap:20px;
    padding-right: 158px;
    height:20vh;
    list-style: none;
    align-items: center;
    cursor:pointer;
    display:flex;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	align-items:center;
	padding-top:60px;
}

.image{
    height: 225px;
    width: 225px;
}
 
.card{
    padding-top: 10px;
    width: 346px;
    height: 540px;
    border-radius: 20px;
    border: solid 1px rgba( 20, 20, 20, 0.5);
    background-color: #FFF;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.product-name{
    text-align: center;    
}

.product-price{
     text-align: center;
}

.reviews{
     text-align: center;
}
<<<<<<< HEAD

.stars{
    display: flex;
}

.button {
    margin:0 auto;
}
=======
.stars{
    display: flex;
}
.button {
    margin:0 auto;
}

.footer{
width: 100%;
height: 329px;
background: #EAD0D0;
padding:20px 200px;
margin-top:50px;
>>>>>>> 95d31aef1a84ca24a254b78d01bd7a945cdf333f

.footer{
    width: 100%;
    height: 329px;  
    background: #EAD0D0;
    padding:20px 200px;
    margin-top:50px;
}

.footer-heading{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.footer-text{
    display:flex;
    align-items: center;
    justify-content:space-between;
	padding-top:60px;
	padding-right:50px;
}

.socials{
	display:flex;
    justify-content:space-between;
	flex-direction:column;
	gap:20px;
	text-align: left;
}

.contacts{
	display:flex;
    justify-content:space-between;
	flex-direction:column;
	gap:20px;	
}

.bottom {
	margin-top:22px;
	background:#000;
	width:1200px;
    position: relative;
    left: -120px;
}

.top {
    margin-top:22px;
	background:#000;
	width:1200px;
    position: relative;
    left: -120px;
}
	
<<<<<<< HEAD
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
} 

.star-ratings-css::before { 
    content: '★★★★';
    opacity: .3;
}
      
.star-ratings-css::after {
    color: gold;
    content: '★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top:0;
    width: attr(rating);
    overflow: hidden;
}
  
=======
	
>>>>>>> 97c5178c1f3fd4d9e4e666c3942f6f42b7c2159c
>>>>>>> 95d31aef1a84ca24a254b78d01bd7a945cdf333f
