html{
    background-color: #FFFFFF; 
    color:
}

    a{
    text-decoration: none;
    color:black;
}

    header {
background-color:#F5F5F5;
    }

.nav_item{
    padding: 62px 0;
    border-bottom: solid 2px transparent;
    display:flex;
    align-items:center;
}

.nav_list{
    gap:20px;
    padding-right: 158px;
    height:20vh;
    list-style: none;
    align-items: center;
    cursor:pointer;
    display:flex;
}
.nav{
    display: flex;
    justify-content: space-between;

}

.section{
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

.image{
    height: 540px;
width: 346px;
left: 947px;
top: 818px;
border-radius: 33px;


}
 
.card{
    

    padding-top: 10px;
min-width: 346px;
width: 329px;
height: 520px;
border-radius: 20px;
border: solid 1px rgba( 20, 20, 20, 0.5);
background-color: #FFF;
display:flex;
    align-items: center;
    flex-direction: column;

}
.product-name{
    text-align: center;
    
}

.product-price{
     text-align: center;
}

.reviews{
     text-align: center;
}

.button {
    margin:0 auto;
}